/* IMPORTING FONTS  */
@import url('https://fonts.cdnfonts.com/css/Roboto');
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/Inter');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

/* SET BODY DDEFAUlt  */

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.mobile_menu_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #3c3a39;
  mix-blend-mode: normal;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  height: 100vh;
  width: 100vw;
}

.mobile_menu_ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10vw;
  padding-right: 10vw;
  height: 90%;
}

.vector_line_mfot {
  background: white;
  width: 100vw;
  height: 10%;
}

.vector_line_solid {
  width: 40vw;
  height: 5px;
  background: black;
  position: relative;
  top: 80%;
  left: 30%;
}

.x_button {
  align-self: flex-end;
  justify-self: center;
}

.top_header a {
  color: #fff;
  text-decoration: none;
}

.mobile_menu_ul > li > a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff5e1;
}

.vector_line_mob {
  background: #6f6c6b;
  height: 1px;
  width: 85vw;
  margin-bottom: 5vw;
}

/* HEADER SECTION OF PAGE */
.top_header {
  width: 100vw;

  /* use responsive measurements */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3c3a39;
  padding-left: 5vw;
  padding-right: 5vw;
  position: fixed;
}

.desktop_menu {
  display: none;

  /* Hide menu for screensize abv 765px */
}

.top_nav > h3 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

/* HEADLINE SECTION OF PAGE  */
.headline {
  width: 100vw;
  padding: 15vh 5vw 15vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #1c1a19;
  background-image: url('./img/index_background.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}

.headline > h1 {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-top: 1%;
  margin-bottom: 1%;
}

.intro_2 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.intro_3 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.social_media_list {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  margin-top: 0;
  padding: 0;
  align-items: baseline;
}

.socials {
  padding-left: 5vw;
  min-height: 20px;
  margin-bottom: 5vh;
}

/* WORK  SECTION  MAIN AREA */

/* Work Pop up Menu */
.pop_up_menu {
  display: flex;
  width: 90%;
  padding: 20px 15px 20px 15px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #ebecf0;
  background-color: white;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  position: fixed;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  overflow: auto;
}

.pop_menu_img {
  max-width: 100%;
  height: auto;
}

.pop_up_menu > .pop_menu_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* style the pop up menu header */
.pop_menu_title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

/* style the close button  */
.pop_menu_cls_icon {
  height: 15px;
  align-self: center;
  margin: 10px;
}

.pop_up_menu > ul {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.rec_skills_list > li {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  background: #ffffff3d;
  padding: 10px 12px;
  margin-right: 10px;
}

.rec_skills_list_main > li {
  width: auto;
  margin-left: 0;
  margin-right: 10px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  border: 1px solid #8993a4;
  background: #fff;
  padding: 10px;
}

.pop_up_menu > ul > li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #3c3a39;
  border: 1px solid #dfe1e6;
  padding: 10px;
  margin-right: 10px;
}

.pop_menu_content {
  display: flex;
  flex-direction: column;
}

.pop_menu_content_1 {
  display: flex;
  flex-direction: column;
}

.pop_menu_descr {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.pop_menu_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pop_menu_btn {
  display: flex;
  max-width: 100%;
  justify-content: space-around;
  font-family: 'Inter', sans-serif;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  background: #ff6b00;
  padding: 10px;
  text-decoration: none;
}

.pop_menu_buttons a:nth-child(2) {
  margin-left: 20px;
}

.work_section {
  display: grid;
  width: 100vw;
  grid-gap: 30px;
  padding: 15vh 5vw 15vh 5vw;
}

.rec_works_section_main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 85vw;
}

.rec_works_section > h2 {
  font-family: 'Crete Round' Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 0;
  padding-left: 10px;
}

.about_us > h2 {
  font-family: 'Crete Round' Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 0;
}

.rec_works_section_main > div > h2 {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.vector_line.main {
  border: 0.5px solid #212121;
}

.backgrnd_img_main {
  background-image: url('./img/recent_work_bkimg.png');
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;
  height: 237px;
  width: 85vw;
  margin-bottom: 5%;
  margin-top: 25%;
}

.multi_post_stories {
  width: 85vw;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin: 0;
  padding: 0;
}

.multipost_card > p {
  width: 85vw;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-bottom: 0;
}

.rec_skills_list_main {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 85vw;
}

.rec_proj_btn,
.about_us_btn {
  width: 90vw;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 10px;
  background: #ff6b00;
  color: #fff;
  border: none;
}

.rec_proj_btn.main {
  align-self: flex-start;
  width: 50vw;
}

/* RECENT WORK GRID */
.rec_works_section {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 52vh;
  background-image: url(./img/prof_art_printing_data.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.rec_works_section > p {
  width: 85vw;
  font-family: 'Inter' Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 5px;
  padding-left: 10px;
}

.rec_skills_list {
  width: 85vw;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin-top: 0;
}


/* ABOUT US SECTION */
.about_us_main {
  background: #1c1a19;
  background-image: url("./img/about_us_bckgrnd.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  margin: 0;
}

.about_us {
  display: flex;
  padding: 15vh 5vw 15vh 5vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.about_us > p {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.about_us > p:nth-child(3) {
  display: none;
}

.about_us_btn {
  width: auto;
  align-self: flex-start;
  margin-bottom: 50px;
}

.vector_line_about_us {
  width: 100%;
  border: 1px solid #fff;
  background: #1c1a19;
}

/* Work skills , language and framework */
.work_skills {
  display: flex;
  padding: 100px 24px 100px 24px;
  flex-direction: column;
  background: #1c1a19;
  justify-content: center;
  align-items: center;
}

.about_us_headers_grp {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.bullet_icons {
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background: #ff6b00;
}

.about_us_headers {
  font-family: 'InaiMathi', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 0;
}

.bullet_icons.diamond {
  transform: rotate(-45deg);
}

.bullet_icons.circle {
  border-radius: 150px;
}

.about_us_ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.about_us_li {
  list-style: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  align-items: center;
  text-align: center;
  color: #fff;
}

/* CONTACT FORM */
.contact_form {
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  align-items: flex-start;
  width: 100vw;
  padding: 50px 24px 50px 24px;
}

.contact_form_widget {
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 24px 50px 24px;
}

label {
  margin-bottom: 30px;
}

input {
  border: none;
  border-bottom: solid 1px #dbd8d7;
  padding: 10px;
  width: 75vw;
}

input::placeholder {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  align-self: flex-start;
}

textarea {
  width: 75vw;
  border: none;
  background: #fbf8f7;
  padding: 10px;
}

textarea::placeholder {
  color: #3c3a39;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

/* Style for invalid input */
input:invalid {
  border-color: red;
}

/* Style for error message */
.error_message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.submit_btn {
  width: 40vw;
  align-self: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 12px;
  background: #ff6b00;
  color: #fff;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form_notes {
  width: 85vw;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vector_line_footer {
  width: 100%;
  border: 1px solid #dfe1e6;
}

.footer > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-inline-start: 0;
  align-items: baseline;
}

.footer-decorator {
  width: 40vw;
  align-self: center;
  background-color: #0d151e;
  height: 7px;
  margin-bottom: 50px;
  border-radius: 21px;
}

/* Button Interctions */
button:enabled,
.pop_menu_btn:enabled {
  background: #f55800;
  color: #fff;
}

button:hover,
.pop_menu_btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

button:active,
.pop_menu_btn:active {
  background: #e05304;
  color: #f4f1f0;
}

button:disabled,
.pop_menu_btn:disabled {
  color: #5b5957;
  background: #f4f1f0;
}

/* adjusted based on JS interactions; */
.hide {
  display: none;
}

.blur {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}


/* DESKTOP MEDIA QUERIES */

@media only screen and (min-width: 768px) {
  .pop_up_menu {
    max-width: 85vw;
  }

  /* Mobile pop up */
  .pop_menu_title {
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .pop_menu_content {
    flex-direction: row;
    justify-content: space-between;
    width: auto;
  }

  .pop_menu_img {
    max-width: 100%;
    height: auto;
  }

  .pop_menu_content_1 {
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
  }

  .pop_menu_descr {
    color: #344563;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    float: right;
    margin-top: 0;
  }

  .pop_menu_buttons {
    max-width: 100%;
    justify-content: flex-start;
  }

  .pop_up_menu > ul > li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3c3a39;
  }

  /* Desktop adjustments  for header tags */
  .mobile_menu_main {
    display: none;
  }

  /* footer for desktop */
  .footer-decorator {
    display: none;
  }

  .footer > ul {
    margin-right: 10%;
  }

  .socials.footer {
    padding: 5px;
    align-self: flex-start;
  }

  .socials.headlines {
    margin: 10px;
  }

  /* contact form for desktop */
  .contact_form {
    padding: 15vh 5vw 15vh 5vw;
    width: 100vw;
    flex-direction: row;
  }

  .contact_form > p {
    width: 45%;
    font-size: 40px;
    line-height: 52px;
    color: #262626;
    text-align: left;
  }

  input,
  label,
  textarea {
    width: 100%;
  }

  .contact_form button {
    align-self: flex-start;
    width: 20%;
  }

  /* headline and  top navigation bar for destkop */
  .desktop_menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #fff;
  }

  .top_nav > h3 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .headline > h1 {
    font-size: 72px;
    line-height: 82px;
  }

  .intro_2 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff5e1;
  }

  .intro_3 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 32px;
  }

  .desktop_menu > a {
    padding: 5%;
  }

  #menubar {
    display: none;
  }

  /* Desktop adjustments  for headline alone */
  .headline {
    background: #1c1a19;
    padding: 15vh 10vw 15vh 10vw;
    background-image: url('./img/index_background_desk.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
  }

  .headline h1,
  .headline p {
    max-width: 40vw;
  }

  .social_media_list {
    display: block;
    position: absolute;
    left: 0%;
  }

  /* Work sections desktop verion */
  .work_sec_headers {
    display: flex;
    width: 100%;
    justify-content: baseline;
    align-items: baseline;
    margin: 0;
    padding: 0;
  }

  .work_sec_headers > h2 {
    color: #091e42;
  }

  .vector_line.main {
    flex: 1;
    margin-left: 1%;
  }

  .flex_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0;
    padding: 0;
  }

  .backgrnd_img_main {
    width: 55%;
    background-image: url('./img/recent_work_bkimg.png');
    background-size: contain;
    height: 448px;
    padding: 0;
    margin: 0;
  }

  .multipost_card {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
  }

  .multipost_card > p {
    width: auto;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
  }

  .multipost_card > h2 {
    width: auto;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .rec_skills_list_main {
    width: auto;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
  }

  .rec_proj_btn.main {
    width: auto;
  }

  /* Flex set  */
  .grid-container {
    display: grid;
    gap: 10px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .rec_works_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
  }

  .rec_works_section > h2 {
    width: auto;
    margin: 0;
    padding-bottom: 5px;
  }

  .rec_proj_btn.proj_1,
  .rec_proj_btn.proj_2,
  .rec_proj_btn.proj_3,
  .rec_proj_btn.proj_4,
  .rec_proj_btn.proj_5,
  .rec_proj_btn.proj_6 {
    display: none;
  }

  .rec_works_section > p {
    width: auto;
    font-size: 17px;
    line-height: 24px;
    padding-bottom: 5px;
  }

  .about_us > p {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .rec_works_section:hover .rec_proj_btn {
    display: block;
    width: 100%;
  }

  .rec_works_section:hover {
    border: 1.5px solid navy;
  }

  .rec_works_section:hover p {
    display: none;
  }

  .rec_works_section:hover h2 {
    display: none;
  }

  .rec_works_section:hover ul {
    display: none;
  }

  .rec_works_section.proj_6 {
    background-image: url(./img/grid_img_6.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .rec_works_section.proj_5 {
    background-image: url(./img/grid_img_5.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .rec_works_section.proj_4 {
    background-image: url(./img/grid_img_4.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .rec_works_section.proj_3 {
    background-image: url(./img/grid_img_3.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .rec_works_section.proj_2 {
    background-image: url(./img/grid_img_2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .rec_works_section.proj_1 {
    background-image: url(./img/grid_img_4.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .rec_skills_list {
    width: auto;
    display: flex;
  }

  .rec_proj_btn.proj_1 {
    width: 100%;
  }

  /* About us desktop version */
  .about_us_main {
    background-image: url("./img/desktop_boutus.png");
    background-position: right center;
  }

  .about_us {
    width: 50%;
    background-image: none;
  }

  .about_us > p:nth-child(3) {
    display: block;
  }

  .about_us > p:nth-child(2) {
    display: none;
  }

  .about_us_btn {
    width: auto;
    align-self: flex-start;
    margin-bottom: 50px;
  }

  /* SKills sections Desktop Version */
  .work_skills {
    display: grid;
    padding: 15vh 5vw 15vh 5vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    column-gap: 100px;
    align-items: flex-start;
  }

  .about_us_headers_grp {
    align-items: baseline;
    justify-content: flex-start;
  }

  .about_us_ul {
    justify-content: baseline;
    align-items: flex-start;
    margin: 0;
  }

  .about_us_ul.language,
  .about_us_ul.framework,
  .about_us_ul.skills {
    grid-row: 2 / 2;
  }
}

/* End of Desktop Media Queries  */
