@import url('https://fonts.cdnfonts.com/css/Roboto');
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/Inter');
@import url('https://fonts.cdnfonts.com/css/InaiMathi');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

/* Header secion of Page */

.top_header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  background: #3c3a39;
}

.top_header a {
  color: #fff;
  text-decoration: none;

  animation-name: logo_rotate;
  animation-duration: 3s;
}

@keyframes logo_rotate {
  from { transform: rotate(0deg);

  }

  to {
    transform: rotate(360deg);

  }
}



.top_nav > h3 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

/* Headline Section of the Page  */

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  background: #1c1a19;
  padding: 100px 24px 100px 24px;
  background-image: url('./img/index_background.png');
  background-repeat: no-repeat;
  background-position: right 110%;
}

.headline > h1 {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-top: 2px;
  margin-bottom: 2px;
}

.intro_2 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin-top: 2px;
  margin-bottom: 2px;
}

.intro_3 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  width: 85vw;
}

.social_media_list {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  margin-top: 0;
  padding: 0;
  align-items: baseline;
}

.socials {
  padding-left: 20px;
  min-height: 20px;
  margin-bottom: 50px;
}

/*  WORK  SECTION  MAIN */
.work_section {
  display: grid;
  width: 100vw;
  grid-gap: 40px;
  padding: 100px 24px 100px 24px;
}

.rec_works_section_main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 85vw;
}

.rec_works_section_main > h2 {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.vector_line.main {
  width: 85vw;
  border: 0.5px solid #212121;
  margin-bottom: 100px;
}

.backgrnd_img_main {
  background-image: url('./img/recent_work_bkimg.png');
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center;
  height: 237px;
  width: 85vw;
}

.multi_post_stories {
  width: 85vw;
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin-bottom: 0;
}

.rec_works_section_main > p {
  width: 85vw;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-bottom: 0;
}

.rec_skills_list_main {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 85vw;
}

.rec_skills_list_main > li {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  border: 1px solid #8993a4;
  background: #fff;
  padding: 10px;
}

.rec_proj_btn,
.about_us_btn {
  width: 90vw;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 10px;
  background: #ff6b00;
  color: #fff;
  border: none;

  /* transition */
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  
}

.rec_proj_btn.main {
  align-self: flex-start;
  width: 40vw;
}

/* Recent works */

.rec_works_section {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  height: 52vh;
  background-image: url(./img/prof_art_printing_data.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.rec_works_section > h2 {
  width: 80vw;
  font-family: 'Crete Round' Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 0;
}

.rec_works_section > p {
  width: 80vw;
  font-family: 'Inter' Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 5px;
}

.rec_skills_list {
  width: 80vw;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin-top: 0;
  padding-top: 0;
}

.rec_skills_list > li {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  background: #ffffff3d;
  padding: 10px 12px;
  margin-right: 10px;
}

/* About us */
.about_us.main {
  width: 100vw;
  background: #1c1a19;
  padding: 100px 24px 100px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about_us > h2 {
  width: 85vw;
  font-family: 'Crete Round' Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 0;
}

.about_us > p {
  width: 85vw;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.about_us_btn {
  width: 50vw;
  align-self: flex-start;
  margin-left: 5px;
}

.backgrnd_img_about_us {
  background-image: url("./img/about_us_bckgrnd.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 220px;
  width: 85vw;
}

.vector-line.about_us {
  width: 100%;
  border: 1px solid #fff;
  margin-top: 20px;
}

/* Button Interctions */

button:enabled {
  background: #f55800;
  color: #fff;
}

button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

button:active {
  background: #e05304;
  color: #f4f1f0;
}

button:disabled {
  color: #5b5957;
  background: #f4f1f0;
}

/* Work skills , language and framework */
.work_skills {
  width: 100vw;
  background: #1c1a19;
  padding: 24px;
}

.about_us_headers_grp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.bullet_icons {
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background: #ff6b00;
}

.about_us_headers {
  font-family: 'InaiMathi', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 0;
}

.bullet_icons.diamond {
  transform: rotate(-45deg);
}

.bullet_icons.circle {
  border-radius: 150px;
}

.about_us_ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_us_li {
  list-style: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  align-items: center;
  text-align: center;
  color: #fff;
}

/* contact form */
.contact_form {
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  align-items: flex-start;
  width: 100vw;
  padding: 50px 24px 50px 24px;
}

.contact_form_widget {
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 24px 50px 24px;
}

label {
  margin-bottom: 30px;
}

input {
  border: none;
  border-bottom: solid 1px #dbd8d7;
  padding: 10px;
  width: 75vw;
}

input::placeholder {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  align-self: flex-start;
}

textarea {
  width: 75vw;
  border: none;
  background: #fbf8f7;
  padding: 20px;
}

textarea::placeholder {
  color: #3c3a39;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.submit_btn {
  width: 40vw;
  align-self: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 12px;
  background: #ff6b00;
  color: #fff;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form_notes {
  width: 85vw;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding-inline-start: 0;
  height: 66px;
  align-items: baseline;
}

.vector-line {
  margin-bottom: 30px;
  width: 100vw;
  height: 1px;
  background-color: #dfe1e6;
}

.footer-decorator {
  width: 40vw;
  align-self: center;
  background-color: #0d151e;
  height: 7px;
  margin-bottom: 50px;
  border-radius: 21px;
}
